<!-- Scrollable modal carrello -->
<button class="btn btn-success position-relative" data-bs-toggle="modal" data-bs-target="#modcart" href="#">
    <span class="fas fa-cart-plus me-2">
        <span
            class="position-absolute top-50 start-100 translate-middle p-1 bg-secondary border border-secondary rounded-pill">
            3
            <span class="visually-hidden">unread messages</span>
        </span>
    </span>
</button>
<!-- Modal -->
<div class="modal fade" id="modcart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-primary ">
                <div class="col-2">
                    <a href="index.html"><img class="rounded mx-auto d-block d-flex" src="assets/images/LogoBorghet.ico"
                            alt="LogoBorghet" width="60" height="60">
                    </a>
                </div>
                <div class="col-9">
                    <h1 class="modal-title fs-2 text-center" id="staticBackdropLabel">Il tuo Carrello</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container h-100 py-5">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col">
                            <div class="card shopping-cart border-2 border-primary" style=" border-radius: 15px;">
                                <div class="card-body text-black">
                                    <div class="row">
                                        <!--Prodotti-->
                                        <div class="col-lg-6 px-5 py-4">
                                            <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase text-secondary">
                                                I tuoi Prodotti
                                            </h3>
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="flex-shrink-0">
                                                    <img src="assets/images/pate_olive.jpg" class="img-fluid"
                                                        style="width: 150px;" alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="#!" class="float-end text-black"><i
                                                            class="fas fa-times"></i></a>
                                                    <h5 class="text-primary">Samsung Galaxy M11 64GB</h5>
                                                    <h6 style="color: #9e9e9e;">Color: white</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="fw-bold mb-0 me-5 pe-3">799$</p>
                                                        <div class="def-number-input number-input safari_only">
                                                            <button
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                                class="minus"></button>
                                                            <input class="quantity fw-bold text-black" min="0"
                                                                name="quantity" value="1" type="number">
                                                            <button
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                                class="plus"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="flex-shrink-0">
                                                    <img src="assets/images/olio.jpg" class="img-fluid"
                                                        style="width: 150px;" alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="#!" class="float-end text-black"><i
                                                            class="fas fa-times"></i></a>
                                                    <h5 class="text-primary">Headphones Bose 35 II</h5>
                                                    <h6 style="color: #9e9e9e;">Color: Red</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="fw-bold mb-0 me-5 pe-3">239$</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center mb-5">
                                                <div class="flex-shrink-0">
                                                    <img src="assets/images/peperoncino_piccante.jpg" class="img-fluid"
                                                        style="width: 150px;" alt="Generic placeholder image">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="#!" class="float-end text-black"><i
                                                            class="fas fa-times"></i></a>
                                                    <h5 class="text-primary">iPad 9.7 6-gen WiFi 32GB</h5>
                                                    <h6 style="color: #9e9e9e;">Color: rose pink</h6>
                                                    <div class="d-flex align-items-center">
                                                        <p class="fw-bold mb-0 me-5 pe-3">659$</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Form Totale e Spedizione-->
                                        <div class="col-lg-6 px-5 py-4">
                                            <div class="d-flex justify-content-between p-2 mb-2 bg-primary rounded">
                                                <h5 class="fw-bold mb-0">Totale:</h5>
                                                <h5 class="fw-bold mb-0">2261$</h5>
                                            </div>
                                            <hr class="mb-4 border border-secondary">
                                            <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase text-primary">
                                                Dati Spedizione
                                            </h3>
                                            <form>
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-6 mb-3">
                                                        <input class="form-control" type="text" placeholder="Nome">
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <input class="form-control" type="text" placeholder="Cognome">
                                                    </div>
                                                </div>
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-5 d-flex mb-3">
                                                        <input class="border-3 border-primary rounded" type="date"
                                                            id="dateStandard" name="dateStandard">
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <input class="form-control" type="text" placeholder="Indirizzo">
                                                    </div>
                                                    <div class="col-md-3 mb-3">
                                                        <input class="form-control" type="text" placeholder="N.Civico"
                                                            maxlength="3" size="3">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <input class="form-control" type="text" placeholder="Regione">
                                                    </div>
                                                    <div class="col-md-2 mb-3">
                                                        <input class="form-control" type="text" placeholder="Provincia">
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <input class="form-control" type="text" size="5" maxlength="5"
                                                            placeholder="CAP">
                                                    </div>
                                                </div>
                                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase text-primary">
                                                    Contatti
                                                </h3>
                                                <div class="row gx-3 mb-3">
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="inputEmailAddress" type="email"
                                                            placeholder="E-mail">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input class="form-control" id="inputPhone" type="tel"
                                                            placeholder="Numero di Telefono">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Contina con gli
                    acquisti</button>
                <button routerLink="/Checkout" type="button" class="btn btn-primary">Concludi
                    Acquisto</button>
            </div>
        </div>
    </div>

</div>