<div class="row g-0">
    <app-navbar></app-navbar>
</div>
<div class="row container-fluid g-1 mt-3 mb-3">
    <div class="col-xxl-3 col-xl-3 container text-center border border-secondary border-3 rounded">
        <img [src]="prodotto.immagine" class="img-fluid p-1 ">
        <div class="row">
            <h2 class="fw-bolder text-primary">{{prodotto.name}}</h2>
            <p>{{prodotto.description}}</p>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-12">
                <h3>Prezzo {{prodotto.price}} €</h3>
            </div>
            <div class="col-12 mt-3 mb-3 container-fluid">
                <a class="btn btn-xs btn-primary shadow-lg" (click)="aggiungiAlCarrello()">Mettin Nel Carrello
                    <span class="fas fa-cart-plus me-2"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-8 container text-center border border-primary border-3 mt-1 rounded shadow-lg">
        <div class="row">
            <div class="col-6">
                <h2>Prodotto</h2>
                <hr class="border border-primary">
                <p>{{prodotto.prodotto}}</p>
            </div>
            <div class="col-6">
                <h2>L’Azienda</h2>
                <hr class="border border-secondary">
                <p>{{prodotto.azienda}}</p>
            </div>
        </div>
        <div>
            <h2>Scopri la <a href="https://www.iborghiditalia.com/regioni/puglia/">{{prodotto.regione}}</a></h2>
            <hr class="border border-primary">
            <p>{{prodotto.reg_description}}</p>
            <a routerLink="/Catalogo">
                <h3 class="mt-5">Continua con gli acquisti</h3>
            </a>
        </div>
    </div>
</div>