<p>products-cat works!</p>
<div class="row mb-4 d-flex justify-content-evenly">
    <div class="col-12 text-center mb-5">
        <h1 class="display-4 font-weight-bold text-primary">Prodotti Della ...</h1>
        <p class="font-italic text-muted mb-0">La nostra raccolta di prodotti made in ...</p>
    </div>
</div>

<div class="row mb-4 d-flex justify-content-evenly align-items-center">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-1 border-primary shadow-lg">
            <div class="card-body p-4"><img src="assets/images/olio.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Olio Paiano</a></h5>
                <p class="small text-muted font-italic">L’olio extravergine di oliva Tenuta Paiano “Casciani“,
                    è un olio extravergine dal gusto forte in formato da 0,75, per palati dal
                    gusto deciso.
                </p>
                <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-1 border-primary shadow-lg">
            <div class="card-body p-4"><img src="assets/images/pate_olive.jpg" alt=""
                    class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Patè Olive</a></h5>
                <p class="small text-muted font-italic">Focu Salentino, peperoncino piccante macinato
                    sott’olio. Il Focu Salentino, il nome originale significa “Fuoco del
                    Salento”, è il peperoncino piccante invasettato da
                    400 gr.
                </p>
                <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-1 border-primary shadow-lg">
            <div class="card-body p-4"><img src="assets/images/peperoncino_piccante.jpg" alt=""
                    class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Peperoncino Piccante</a></h5>
                <p class="small text-muted font-italic">Focu Salentino, peperoncino piccante macinato
                    sott’olio. Il Focu Salentino, il nome originale significa “Fuoco del
                    Salento”, è il peperoncino piccante invasettato da
                    400 gr.
                </p>
                <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>