<p>productors works!</p>
<div class="row mb-4 d-flex justify-content-evenly">
    <div class="col-12 text-center">
        <h2 class="font-weight-bold mb-2 text-secondary">I nostri Artigiani</h2>
        <p class="font-italic text-muted mb-4">La raccolta degli Artigiani che hanno deciso di collaborare con Borghet
        </p>
    </div>
</div>

<div class="row mb-4 d-flex justify-content-evenly">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
            <div class="card-body p-0"><img src="assets\images\orodelsalento-1200x728-1.png" alt=""
                    class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">Oro Del Salento</h5>
                    <p class="small text-muted">Prodotti tipici Pugliesi </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
            <div class="card-body p-0"><img src="assets\images\contadini.jpg" alt="" class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">I Contadini</h5>
                    <p>Natural food and life</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card shadow-lg border-0 rounded">
            <div class="card-body p-0"><img src="assets\images\Congedi.png" alt="" class="w-100 card-img-top">
                <div class="p-4">
                    <h5 class="mb-0">Congedi olearia</h5>
                    <p class="small text-muted">Dal 1967</p>
                </div>
            </div>
        </div>
    </div>
</div>