<div id="carouselExampleFade" class="carousel slide carousel-fade border border-secondary border-3 p-3 rounded ">
    <div class="carousel-inner">
        <div class="carousel-item active mt-5 mb-5">
            <div class="row col-md-12 ">
                <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-3 g-1 d-flex justify-content-center">
                    <div class="card shadow-lg" style="width: 23rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puglia</h5>
                            <p class="card-text">Some quick example text to build on the card title
                                and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary position-absolute bottom-0 end-0">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-3 g-1 d-flex justify-content-center">
                    <div class="card shadow-lg" style="width: 23rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puglia</h5>
                            <p class="card-text">Some quick example text to build on the card title
                                and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary position-absolute bottom-0 end-0">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-3 g-1 d-flex justify-content-center">
                    <div class="card shadow-lg" style="width: 23rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puglia</h5>
                            <p class="card-text">Some quick example text to build on the card title
                                and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary position-absolute bottom-0 end-0">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6 col-xxl-3 g-1 d-flex justify-content-center">
                    <div class="card shadow-lg" style="width: 23rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Puglia</h5>
                            <p class="card-text">Some quick example text to build on the card title
                                and make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary position-absolute bottom-0 end-0">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="row justify-content-end mt-3">
        <div class="col-4">
            <h2 class="text-secondary"><a routerLink="/Catalogo">Contina a scoprire i prodotti della </a></h2>
        </div>
    </div>
</div>