.dropdown-menu {
    background: #E37F25
}

a.dropdown-toggle {
    color: white !important
}

a.dropdown-item:hover {
    color: #E37F25 !important
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: #AE1A18 !important
}

.nav-item {
    min-width: 12vw;
}