<div class="col-12 ">
    <h3 class="text-center mt-3 mb-3">Più Venduti</h3>
    <div class="card shadow-lg mb-3 border-primary border-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-6 position-relative">
                <img src="assets/images/olio.jpg"
                    class="img-fluid rounded position-absolute top-50 start-50 translate-middle p-1" alt="">
            </div>
            <div class="col-6 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Olio Paiano</h5>
                    <p class="card-text">L’olio extravergine di oliva Tenuta Paiano “Casciani“,
                        è un
                        olio extravergine dal gusto forte in formato da 0,75, per palati dal
                        gusto
                        deciso.</p>
                    <a [routerLink]="['/infoprd', 1]" class="btn btn-primary position-absolute bottom-1 end-0">Vai al
                        Prodotto!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-lg mb-3 border border-primary border-2" style="max-width: 540px;">
        <div class="row g-1">
            <div class="col-md-6 position-relative">
                <img src="assets/images/peperoncino_piccante.jpg"
                    class="img-fluid rounded position-absolute top-50 start-50 translate-middle p-1"
                    alt="peperoncino_piccante">
            </div>
            <div class="col-md-6 mb-3">
                <div class="card-body">
                    <h5 class="card-title">Peperoncino Piccante</h5>
                    <p class="card-text">Focu Salentino, peperoncino piccante macinato
                        sott’olio. Il Focu Salentino, il nome originale significa “Fuoco del
                        Salento”, è il peperoncino piccante invasettato da
                        400 gr.</p>
                    <a [routerLink]="['/infoprd', 2]" class="btn btn-primary position-absolute bottom-1 end-0 ">Vai al
                        Prodotto!</a>
                </div>
            </div>
        </div>
    </div>
</div>