<div class="shadow-sm  rounded container-fluid border border-primary">
    <div class="row align-items-center">
        <div class="col-lg-1 col-md-6 col-sm-12">
            <a href="index.html"><img class="rounded mx-auto d-block" src="assets/images/LogoBorghet.ico"
                    alt="LogoBorghet" width="60" height="60">
            </a>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12">
            <h1 class="text-center">Borghet</h1>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h2 class="text-center fs-3">Il portale dei prodotti tipici italiani</h2>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-11">
            <h3 class="text-center fs-4">Visita <a href="https://www.iborghiditalia.com/">Borghi D'Italia</a></h3>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 d-flex justify-content-evenly">
            <div class="row">
                <div class="col-6">
                    <a class="icon-link ml-3" href="https://www.facebook.com/iborghiditalia/" target="_blank"><i
                            class="bi bi-facebook"></i></a>
                </div>
                <div class="col-6">
                    <a href="https://www.instagram.com/iborghiditalia/?hl=it" target="_blank"><i
                            class="bi bi-instagram"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>