<p>faqs works!</p>
<div class="col-12 container border border-primary border-3 p-3 rounded">
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q1" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Come vengono realizzati i prodotti in vendita?
            </a>
        </p>
        <div class="collapse" id="q1">
            <div class="card card-body">
                elezioniamo con cura i prodotti da offrire ai nostri clienti
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q2" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Dove posso acquistare i prodotti?
            </a>
        </p>
        <div class="collapse" id="q2">
            <div class="card card-body">
                Puoi affidarti al nostro sito per riceverli a casa, oppure fare un salto nella nostra sede
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q3" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Posso personalizzare le grammature dei prodotti? </a>
        </p>
        <div class="collapse" id="q3">
            <div class="card card-body">
                Puoi farcelo sapere dal form nella sezione <a class="list-item" routerLink="/chiSiamo"><span>Chi
                        Siamo</span></a> e cercheremo di
                soddisfare la tua richiesta
            </div>
        </div>
    </div>
    <div class="row ">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q4" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Quali sono i tempi di consegna?
            </a>
        </p>
        <div class="collapse" id="q4">
            <div class="card card-body">
                Possono variare: fino a due giorni per l'evasione e fino a cinque per la spedizione, dai un'occhiata <a
                    href="Costi_spedizione.html">QUI</a>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q5" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Che succede se i prodotti arrivano rotti?
            </a>
        </p>
        <div class="collapse" id="q5">
            <div class="card card-body">
                Contattaci e provvederemo a sostituire gli articoli
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q6" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                È possibile spedire all’estero?
            </a>
        </p>
        <div class="collapse" id="q6">
            <div class="card card-body">
                Certo, ma con costi e tempi di spedizione differenti
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q7" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Posso annullare un ordine?
            </a>
        </p>
        <div class="collapse" id="q7">
            <div class="card card-body">
                Fino alla mezzanotte del giorno in cui hai effettuato l'ordine
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q8" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Quali metodi di pagamento sono possibili?
            </a>
        </p>
        <div class="collapse" id="q8">
            <div class="card card-body">
                Sono gli stessi elencati al momento del pagamento, ovvero: Mastercar, PostePay, GogglePay, ApplePay
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q9" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Perché scegliere i prodotti di Market D'Italia?
            </a>
        </p>
        <div class="collapse" id="q9">
            <div class="card card-body">
                Il nostro staff esegue controlli minuziosi sui prodotti in vendita. I nostri produttori sono artigiani
                del territorio e rappresentano il punto di incontro tra tecnica e storia dello specifico luogo in cui
                operano. Raccontiamo la storia della terra e degli imprenditori che la vivono.
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" href="#q10" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Non sei soddisfatto?
            </a>
        </p>
        <div class="collapse" id="q10">
            <div class="card card-body">
                <h3 class="text-end mt-5">Parlaci dei tuoi dubbi <a routerLink="/chiSiamo">Contatttaci</a></h3>
            </div>
        </div>
    </div>
</div>